<mat-toolbar class="toolbar">
  <span>Simple Fav</span>
  <button mat-button routerLink="/">
    <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button routerLink="/fav-movies">
    <mat-icon aria-hidden="false" aria-label="movie icon">movie_filter</mat-icon>
    <span>Favorites Movies</span>
  </button>
  <button mat-button routerLink="/fav-books">
    <mat-icon aria-hidden="false" aria-label="book icon">menu_book</mat-icon>
    <span>Favorites Books</span>
  </button>
</mat-toolbar>
