<div class="dialog-container">
  <div class="dialog-header">
    <h2 mat-dialog-title>{{data.dialogMode}} favorite
      {{data.favoriteCategory | lowercase}}</h2>
    <button mat-icon-button aria-label="Icon close button" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form [formGroup]="favForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="fav-form-content">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput (blur)="updateErrorMessage()" formControlName="title">
        @if (favControls.title.invalid) {
          <mat-error>{{titleErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <div class="form-row">
        <mat-form-field class="form-row-left">
          <mat-label>Creator</mat-label>
          <input matInput (blur)="updateErrorMessage()" formControlName="creator">
        </mat-form-field>
        <mat-form-field class="form-row-right">
          <mat-label>Release year</mat-label>
          <input matInput (blur)="updateErrorMessage()" type="number" formControlName="releaseYear">
          @if (favControls.releaseYear.invalid) {
            <mat-error>{{releaseYearErrorMessage()}}</mat-error>
          }
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea rows="3" (blur)="updateErrorMessage()" style="resize:none;" matInput formControlName="description"></textarea>
        @if (favControls.description.invalid) {
          <mat-error>{{descriptionErrorMessage()}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image url</mat-label>
        <input matInput (blur)="updateErrorMessage()" formControlName="imgUrl">
        @if (favControls.imgUrl.invalid) {
          <mat-error>{{imgUrlErrorMessage()}}</mat-error>
        }
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <!-- <button mat-button (click)="onClose()">Close</button> -->
      <button type="submit" mat-button [disabled]="this.favForm.invalid">Submit</button>
    </mat-dialog-actions>
  </form>
</div>