<div class="main-container">
  <mat-card class="home-card" appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title>100</mat-card-title>
      <mat-card-subtitle>Number of favorites movies</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="home-card" appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title>100</mat-card-title>
      <mat-card-subtitle>Number of favorites books</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
      </p>
    </mat-card-content>
  </mat-card>
</div>