<h2 class="fav-header">Simple Fav Summary</h2>
<div class="main-container">
  <mat-card class="home-card" appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title>{{numberOfFavoritesMovies}}</mat-card-title>
      <mat-card-subtitle>Number of favorites movies</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Discover a world of cinematic wonders!
        <br>
        To add or remove movies from your favorites list, simply click on the "Favorites Movies" option in the top menu. 
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="home-card" appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title>{{numberOfFavoritesBooks}}</mat-card-title>
      <mat-card-subtitle>Number of favorites books</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Dive into a world of literary treasures!
        <br> 
        To add or remove books from your favorites list, simply click on the "Favorites Books" option in the top menu.      </p>
    </mat-card-content>
  </mat-card>
</div>