.fav-card {
  margin: 0 4px 8px 0;
}

.row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card-content-container {
  margin-top: 8px;
}

.card-content-container > img {
  width: 120px;
  border-radius: 8px;
}

.card-content-container > p {
  margin: 0 8px;
  text-align: justify;
}